@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: 260 100% 99%;
  --foreground: 232 57% 22%;
  --card: 0 0% 100%;
  --card-foreground: 232 57% 22%;
  --popover: 0 0% 100%;
  --popover-foreground: 232 57% 22%;
  --primary: 310 65% 44%;
  --primary-foreground: 0 0% 100%;
  --secondary: 260 87% 94%;
  --secondary-foreground: 232 57% 22%;
  --muted: 233 43% 96%;
  --muted-foreground: 232 23% 47%;
  --accent: 256 100% 78%;
  --accent-foreground: 232 57% 22%;
  --destructive: 351 88% 44%;
  --destructive-foreground: 0 0% 100%;
  --border: 228 17% 90%;
  --input: 228 17% 90%;
  --ring: 310 65% 44%;
  --chart-1: 310 65% 44%;
  --chart-2: 260 87% 94%;
  --chart-3: 337 92% 82%;
  --chart-4: 28 100% 82%;
  --chart-5: 256 100% 78%;
  --radius: 0.625rem;
}

.dark {
  --background: 232 60% 20%;
  --foreground: 230 67% 99%;
  --card: 232 57% 22%;
  --card-foreground: 230 67% 99%;
  --popover: 232 57% 22%;
  --popover-foreground: 230 67% 99%;
  --primary: 337 92% 82%;
  --primary-foreground: 232 57% 22%;
  --secondary: 311 75% 31%;
  --secondary-foreground: 230 67% 99%;
  --muted: 229 27% 38%;
  --muted-foreground: 232 23% 47%;
  --accent: 309 84% 33%;
  --accent-foreground: 230 67% 99%;
  --destructive: 351 88% 44%;
  --destructive-foreground: 230 67% 99%;
  --border: 229 27% 38%;
  --input: 229 27% 38%;
  --ring: 337 92% 82%;
  --chart-1: 337 92% 82%;
  --chart-2: 260 87% 94%;
  --chart-3: 256 100% 78%;
  --chart-4: 28 100% 82%;
  --chart-5: 310 59% 37%;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.main-grid-background {
    position: relative;
    overflow: hidden;
}

.main-grid-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: linear-gradient(136deg, #b28eff, #a82d9c, #ffc39b);
    opacity: 0.2;
}

.main-grid-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image:
        linear-gradient(to right, rgba(228, 226, 237, 0.4) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(228, 226, 237, 0.4) 1px, transparent 1px);
    background-size: 4rem 4rem;
    opacity: 0;
    animation: fade-in-grid 2s ease-in-out forwards;
    animation-timeline: view();
    animation-range-start: 20vh;
    animation-range-end: 80vh;
}

@keyframes fade-in-grid {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
